/* reset */

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

html{
    font-family: "Open Sans", sans-serif;
}

img{
    max-width:100%;
}


.grey-txt{
    color:grey
}



/* general */

.container-100{
    width:100%;
}

.container-70{
    width:70%;
    margin:0 auto;
}

.container-60{
    width:60%;
    margin:0 auto;
}

ul{
    list-style:none;
    display:inline-block;

}

a{

    padding:5px;
}

.btn{
    background-color:#0061FF;
    color:white;
    padding:10px 12px;
    display:inline-block;
    text-decoration:none;
}

.txt-center{
    text-align:center;
}

/* header */
header{
    background-color:#B4D0E7;
    
}

.header-top{
    background-color:white;
    display:flex;
    align-items:center;
    padding:20px 0;
}

.header-top > *{
    width:50%;   
}
.header-top a{
    text-decoration:none;
}   

.inner-left > *{
    display:inline-block;
}
.logo-container{
    margin-right:20px;
}

.link-container ul > li{
    display:inline-block;
    margin-right:20px;
}

.inner-right {
    text-align:right;
}



.header-bottom *{
    margin-top:30px;
}

.header-bottom h1{
    font-size:4rem;
    font-weight:900;
    margin-top:50px;
}

.inner-container{
    width:100%;
    display:flex;
}

.container1-3{
    width:calc(100% / 3);
    display:flex;
    flex-wrap:wrap;
}

.container1-3 > p{
    width:100%;
    font-size:1.1rem;
}

.container2-3{
    position:relative;
    width:calc((100% / 3) * 2)

}


.container2-3 > img{
    height:100%;
    width:100%;
    position:absolute;
    bottom:-30px;
    left:-30px;;
    object-fit:contain;
    object-position:bottom;
}



span > i{
    font-size:4rem;
    cursor:pointer;
    padding-bottom:10px;
}

/* main */

main{
    margin-top:50px;
}

.top-subscriptions{
    margin-bottom:30px;

}

.top-subscriptions > h2{
    padding:30px 0;
    font-size:3rem;
}

.top-subscriptions span > i{
    font-size:1.5rem;
}

.checked > i:first-child{
    color:blue;
}


.row{
    display:flex;
    flex-wrap:wrap;
    margin: 0 -20px;
}

.column1-3{
    width:calc((100% / 3) - 40px);
    margin:20px;
}

.column3-3{
    width:100%;
    margin-top:30px;
}
.card{
    display:flex;
    flex-wrap:wrap;
}

.top-card, .bottom-card{
    border:1px solid black;
}

.top-card{
    width:100%;
    text-align:center;
    
}
.bottom-card{
    width:100%;
}

.bottom-card > p > i{
    font-size:1.5rem;
}
.bottom-card > *{
    padding-left:20px;
}

.bottom-card > *,
.bottom-card > div > *{
    margin-top:30px;
}

.bottom-card ul li > i{
    color:#0061FF;
    font-size:1.5rem;

}
.bottom-card h3{
    font-size:2rem;
}


.short-hr{
    border:1px solid gray;
    width:20%;
    border-radius:2px;
}

/* footer */


/* debug */
/* 
.debug header{
    min-height:500px;
}

.debug header .header-top{
    background-color:red;
    min-height:80px;
}

.debug header .header-bottom{
    background-color:lime;
} */


.debug main section > .container-60{
    /* background-color: lightgrey; */
    min-height:600px;
    border:1px solid black;

}

.debug .bottom-subscriptions *{
    /* border:1px dashed black; */
    /* min-height:10px; */
}